.gallery{
	a{
		position: relative;
		img{
			width: 100%;
		}
	}
}

#galleryCTA{
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.fancybox-thumbs {
  top: auto;
  width: auto;
  bottom: 10px;
  left: 0;
  right : 0;
  height: 80px;
  background: transparent;
  &>ul{
  	width: 100%;
  	display: flex;
  	justify-content: center;
  }
}

.fancybox-thumbs > ul > li {
  border-color: transparent;
}

.fancybox-container--thumbs .fancybox-caption-wrap, 
.fancybox-container--thumbs .fancybox-controls, 
.fancybox-container--thumbs .fancybox-slider-wrap {
  right: 0;
  bottom: 90px;
}

@media all and (max-width: 800px) {

	.fancybox-thumbs {
		display: none !important;
	}

	.fancybox-container--thumbs .fancybox-controls,
	.fancybox-container--thumbs .fancybox-slider-wrap,
	.fancybox-container--thumbs .fancybox-caption-wrap {
		bottom: 0;
	}

}

.fancybox-buttons, .fancybox-infobar{
	display: none !important;
}

.fancybox-thumbs>ul>li:before{
	border-color: $copper;
}