.spec{
	li{
		&:before{
			content: '-';
			margin-left: -10px;
			margin-right: 5px;
		}
		&.specTitle{
			&:before{
				display: none;
			}
		}
	}
	&__item{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	ul,
	img{
		float: left;
	}
	ul{
		width: 55%;
	}
	img{
		width: 40%;
		margin-right: 5%;
		margin-top: 50px;
	}
	button{
		margin: 50px 0;
	}
}