// Sitewide styles
@import "variables";
@import "helpers";
@import "global";
@import "typography";
@import "sprite";

// Section specific styles
@import "header";
@import "banner";
@import "about";
@import "gallery";
@import "spec";
@import "cta";
@import "contact";
@import "footer";

*, *:before, *:after{
	box-sizing: border-box;
}
html,
body{
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.hidden {
    display: none;
}
.center{
	text-align: center;
}

ul{
	padding: 0px;
}
li{
	list-style: none;
}
section{
	padding: 80px 0;
}
img{
	user-drag: none; 
	user-select: none;
}
#scrollTop{
	width: 30px;
	height: 30px;
	background-color: rgba($colorPrimary, 0.95);
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	@include google_shadow(1);
	transition: all .2s ease;
	z-index: 9999;
	background-image: url('../../img/sprites/downArrow.png');
	background-repeat: no-repeat;
	background-position: center;
	&:hover{
		cursor: pointer;
		transform: translateY(-5px);
		@include google_shadow(2);
	}
}
.pageLoader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../img/loader.gif) center no-repeat #fff;
}
// .animate-box {
// 	opacity: 0;
// }
// .animate-box {
// 	.js & {
// 		opacity: 0;
// 	}
// }
.hidden{
	display:none;
	opacity: none;
}
#toggleOverlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($colorPrimary, 0.95);
	z-index: 9998;
	&.active{
		display: block;
	}
}
.banner_bg{
	background-image: url('../../img/content/marble_bg.jpg'); 
	background-size: cover;
}
.container{
	@extend %clearfix;
	width: 80%;
	margin: 0 auto;
	.inner{
		position: relative;
		@extend %clearfix;
		margin: 0 50px;
	}
}
h4{
	display: inline-block;
	border-bottom: 1px solid $text--drk;
}
button{
	padding: 10px 18px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all .3s ease;
	background: transparent;
	max-width: 80%;
	&:hover{
		cursor: pointer;
	}
	&.solid--white,
	&.solid--drk{
		&:hover{
			transform: scale(1.1);
			@include google_shadow(3);
		}
	}
	&.solid--white{
		@include google_shadow(2);
		border-radius: 26px;
		background: $white;
		color: $text--drk;
	}
	&.solid--drk{
		@include google_shadow(2);
		border-radius: 12px;
		background: $colorPrimary;
		color: $text--lght;
	}
	// &.ghost__white,
	// &.ghost__drk{
	// 	&:hover{
	// 		transform: translateY(-4px);
	// 		padding: 16px 24px;
	// 	}
	// }
	&.ghost__white{
		border: 3px solid $white;
		color: $white;
	}
	&.ghost__drk{
		border: 3px solid $colorPrimary;
		color: $colorPrimary;
	}
}
.half{
	width: 50%;
	&__lrg{
		width: 60%;
	}
	&__sml{
		width: 40%;	
	}
}
.left{
	float: left;
}
.right{
	float: right;
}

// IMPORT RESPONSIVE OVERRIDE CLASSES
@import "responsive";

